<configuration>
	<!-- mybatis 数据源环境配置 -->
	<environments default="dev">
		<environment id="dev">
			<!-- 配置数据源信息 -->
			<dataSource type="DBCP">
				<property name="db.driver" value="com.mysql.jdbc.Driver"></property>
				<property name="db.url" value="jdbc:mysql://127.0.0.1:3306/learn?useSSL=false&amp;characterEncoding=utf-8"></property>
				<property name="db.username" value="root"></property>
				<property name="db.password" value="123456"></property>

				<property name="db.sql.queryUserById" value="select * from user where id = ?"></property>
				<property name="db.sql.queryUserById.resulttype" value="com.model.User"></property>
			</dataSource>
		</environment>
	</environments>
	<!-- 映射文件加载 -->
	<mappers>
		<!-- resource指定映射文件的类路径 -->
		<mapper resource="mapper/UserMapper.xml"></mapper>
	</mappers>
</configuration>